// Artist Block Styles
.artistBlock {
  @include clearfix;
  clear: left;
  max-height: 18.75rem;
  overflow: hidden;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 4px solid $spotifyGreen;
  &-artistHeader {
    display: inline-block;
    border-bottom: 2px solid $brandBlack;
  }
  &-imgContainer {
    max-height: 17.5rem;
    overflow: hidden;
  }
  &-searchThis {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
  }
}

.linksList {
  list-style: none;
  margin: 2rem 0;

  &-link {
    display: inline-block;
    max-width: 60px;
    margin-right: 0.8rem;
  }
}